In [26]:
import pandas as pd

data=pd.read_csv("ai_job_market.csv")

try:

    data = pd.read_csv("ai_job_market.csv")
    print("Successfully loaded file into pandas dataframe")

except FileNotFoundError:
    print(" File not found. Please verify the file path and try again.")

except pd.errors.EmptyDataError:
    print(" No existence of data in File . Please check the dataset content.")

except pd.errors.ParserError:
    print(" Unable to parse the file. Ensure it is properly formatted as a CSV.")

except Exception as e:
    print(f" An unexpected error occurred: {e}")

Successfully loaded file into pandas dataframe

In [ ]:
data.head()

In [4]:
data.columns

Index(['job_id', 'company_name', 'industry', 'job_title', 'skills_required',
       'experience_level', 'employment_type', 'location', 'salary_range_usd',
       'posted_date', 'company_size', 'tools_preferred'],
      dtype='object')

In [5]:
print(data.index)

RangeIndex(start=0, stop=2000, step=1)

In [ ]:
print(data.dtypes)

In [7]:
data.sample(10)

,job_id,company_name,industry,job_title,skills_required,experience_level,employment_type,location,salary_range_usd,posted_date,company_size,tools_preferred
609,610,Miller-Schultz,Retail,Data Scientist,"Flask, C++, NumPy, Python, GCP",Entry,Full-time,"Beckerburgh, GA",68321-135101,2024-04-15,Large,TensorFlow
278,279,Smith Inc,Tech,NLP Engineer,"AWS, SQL, Excel",Entry,Contract,"Perezfurt, SZ",103271-157584,2025-09-19,Startup,"MLflow, LangChain, FastAPI"
1923,1924,Arroyo Ltd,Healthcare,ML Engineer,"Pandas, C++, FastAPI, Excel",Entry,Internship,"North Jennifer, HR",117098-171168,2025-08-06,Mid,"FastAPI, BigQuery"
1411,1412,Perez-Wilkins,Healthcare,Data Scientist,"MLflow, C++, Power BI, LangChain",Senior,Full-time,"Lake Alice, TO",101917-123000,2025-01-04,Startup,"Scikit-learn, KDB+"
879,880,Anderson PLC,E-commerce,AI Product Manager,"Flask, LangChain, Power BI, Azure",Mid,Full-time,"Lake Davidfort, BD",58910-129962,2024-06-29,Large,"KDB+, LangChain"
1651,1652,Weaver-Mcdonald,Tech,AI Product Manager,"Python, Power BI, GCP",Entry,Internship,"West Richard, SV",59665-114017,2024-10-26,Mid,LangChain
1565,1566,"Mullins, Butler and Moses",Education,AI Researcher,"LangChain, Scikit-learn, Hugging Face",Senior,Remote,"South Jason, PG",109390-202587,2025-06-12,Large,FastAPI
1391,1392,"Villa, Fowler and Oneill",Tech,Data Scientist,"Power BI, Reinforcement Learning, TensorFlow, ...",Senior,Internship,"New Jacob, CZ",139463-235020,2024-03-08,Startup,"LangChain, FastAPI"
835,836,"Richmond, Jones and Reilly",Education,ML Engineer,"Python, Excel, Azure, PyTorch",Senior,Full-time,"Royborough, AG",139025-163828,2025-08-03,Large,KDB+
1747,1748,"Gutierrez, Salazar and Rowe",Tech,Data Analyst,"MLflow, Keras, CUDA, FastAPI, Flask",Mid,Remote,"West Scott, ER",125072-185338,2023-12-07,Large,TensorFlow

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   job_id            2000 non-null   int64
 1   company_name      2000 non-null   object
 2   industry          2000 non-null   object
 3   job_title         2000 non-null   object
 4   skills_required   2000 non-null   object
 5   experience_level  2000 non-null   object
 6   employment_type   2000 non-null   object
 7   location          2000 non-null   object
 8   salary_range_usd  2000 non-null   object
 9   posted_date       2000 non-null   object
 10  company_size      2000 non-null   object
 11  tools_preferred   2000 non-null   object
dtypes: int64(1), object(11)
memory usage: 187.6+ KB

In [16]:
import re

data['job_title'] = data['job_title'].str.replace(r'[^A-Za-z0-9\s]', '', regex=True)

In [19]:
import re
# Extract lower and upper bounds
data['salary_min'] = data['salary_range_usd'].str.extract(r'(\d{2,3}[,\d]*)').replace(',', '', regex=True).astype(float)
data['salary_max'] = data['salary_range_usd'].str.extract(r'-(\d{2,3}[,\d]*)').replace(',', '', regex=True).astype(float)

In [20]:
import re
data['experience_level_clean'] = data['experience_level'].str.extract(r'(Junior|Mid|Senior|Entry|Lead)', expand=False)

In [21]:
import re
# Remove extra spaces around skills
data['skills_required'] = data['skills_required'].str.replace(r'\s*,\s*', ',', regex=True)

In [22]:
import re
data['location'] = data['location'].str.replace(r'[^A-Za-z0-9,\s]', '', regex=True)

In [9]:
data.isnull().sum().sum

<bound method Series.sum of job_id              0
company_name        0
industry            0
job_title           0
skills_required     0
experience_level    0
employment_type     0
location            0
salary_range_usd    0
posted_date         0
company_size        0
tools_preferred     0
dtype: int64>

In [ ]:
(data =="").sum()
(data == " ").sum()
(data.isin(["N/A", "null","unknown"])).sum()

In [11]:
data.isnull().values.any()

np.False_

In [13]:
data.drop_duplicates(inplace=True)

In [14]:
data['Hand_Missing']=data.isnull().any(axis=1)

In [23]:
data.sample(5)

,job_id,company_name,industry,job_title,skills_required,experience_level,employment_type,location,salary_range_usd,posted_date,company_size,tools_preferred,Hand_Missing,salary_min,salary_max,experience_level_clean
147,148,"Manning, Hernandez and Serrano",Retail,NLP Engineer,"Power BI,Flask,GCP,CUDA",Mid,Remote,"New Crystalport, BF",64790-95818,2023-12-19,Large,FastAPI,False,64790.0,95818.0,Mid
372,373,"Washington, Smith and Hicks",Automotive,ML Engineer,"Flask,PyTorch,Reinforcement Learning,MLflow",Senior,Contract,"West Regina, AG",146097-192440,2024-08-22,Startup,"LangChain, PyTorch",False,146097.0,192440.0,Senior
1861,1862,Ray LLC,Automotive,Quant Researcher,"Hugging Face,C++,NumPy,R",Senior,Remote,"West Charles, ZM",134147-151699,2025-09-17,Mid,"PyTorch, BigQuery",False,134147.0,151699.0,Senior
1234,1235,"Wilson, Roberts and Frank",E-commerce,Data Scientist,"PyTorch,Azure,Flask,SQL,Power BI,TensorFlow",Entry,Full-time,"Port Amy, FJ",107174-166157,2023-12-15,Large,"Scikit-learn, LangChain",False,107174.0,166157.0,Entry
1656,1657,Quinn Group,Tech,Data Scientist,"Reinforcement Learning,GCP,TensorFlow,Pandas",Mid,Internship,"East Michael, UY",40844-100312,2024-09-05,Large,FastAPI,False,40844.0,100312.0,Mid

In [24]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        host="localhost",
        port=3306,
        user="root",
        password="1234"
    )
    if conn.is_connected():
        print(" Connection fully established.!")
    conn.close()
except mysql.connector.Error as err:
    print(f" Connection failed, Try again: {err}")

 Connection fully established.!

In [25]:
from sqlalchemy import create_engine
import pandas as pd
import mysql.connector

file_path = "ai_job_market.csv"
df = pd.read_csv(file_path)

# Ensure database exists
conn = mysql.connector.connect(
    host="localhost",
    port=3306,
    user="root",
    password="1234"
)
cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS ai_job_db;")
conn.commit()
cursor.close()
conn.close()

# Connect using SQLAlchemy
engine = create_engine("mysql+mysqlconnector://root:1234@localhost:3306/ai_job_db")

# Load DataFrame
df.to_sql("ai_job_db", con=engine, if_exists="replace", index=False)
print(" Successfully loaded data into 'ai_job_db' table!")

 Successfully loaded data into 'ai_job_db' table!